aiohttp==2.3.1
anyjson==0.3.3
arrow==0.10.0
async-timeout==2.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
demjson==2.2.4
idna==2.6
Logbook==1.1.0
lxml==4.1.0
multidict==3.3.0
numpy==1.13.3
pandas==0.20.3
pyquery==1.3.0
python-dateutil==2.6.1
pytz==2017.2
redis==2.10.6
requests==2.18.4
rqopen-client==0.0.4
six==1.11.0
urllib3==1.22
xlrd==1.1.0
yarl==0.13.0
tushare==0.9.9
easyquotation==0.5.2
easytrader==0.12.3
easyutils==0.1.5
eventlet==0.21.0
oslo.config==5.0.0
